@{
    var ReturnUrl= ViewData["returnUrl"] as string;
    var error = TempData["Error"] as string;
}
<div class="text-center">
    <h1 class="display-4">Please Login To Proceed Or Register to proceed</h1>
</div>

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding: 20px;">@error</h2>
}
<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(ReturnUrl)" method="post">
    <label>User Name</label><br>
    <input type="text" name="username"> <br>
    <label>Password</label><br>
    <input type="password" name="password"> <br> <br>
    <input type="submit" name="submit">
</form>
<br>
<form action="/Inventory/Register" method="get">
<input type="submit" value="Register" name="Register">

</form>