@model Inventory
<form action="/inventory/sell" method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Supplier" />
    <input type="hidden" asp-for="ExpDate" />
    <input type="hidden" asp-for="Price" />
    
        How many quantities do you want to sell?
        
        <div class="col-md-6 form-group">
                <input id="sell" type="number" class="form-control" required>      

                <input id="original" type="hidden" asp-for= "Quantity" class="form-control" required> 
                
                <script>
                    function myFunction(){
                    var sellquant = Number(document.getElementById("sell").value) ;
                    var originalquan = Number(document.getElementById("original").value) ;
                    var rem= Number(originalquan-sellquant);
                    if(rem > 0)
                    {
                        document.getElementById("original").value = rem;
                    }
                    else{
                        alert("NOT Sold");
                    }

                    }
                </script>                     
        </div>        
        <br>
        <button type="submit" onclick="myFunction()" class="btn btn-primary">Sell</button>
</form>